#container {
  text-align: center;
}

ion-content ion-toolbar {
  --background: translucent;
}

.item-has-focus.label-stacked.sc-ion-label-md-h, .item-has-focus .label-stacked.sc-ion-label-md-h, .item-has-focus.label-floating.sc-ion-label-md-h, .item-has-focus .label-floating.sc-ion-label-md-h {
  //color: var(--ion-color-light, #ffffff) !important;
}

.main_section {
  display: block;
  margin: 0px;
  padding: 0px 0px;
  background: #ffffff;
  height: 100%;
}

.item-native {
  padding: 0px !important;
}

.main_section_inner {
  display: block;
  margin: 0px;
  padding: 15% 0% 0% 0%;
  height: auto;
}

.email_lable {
  margin: 0px -12px !important;
  //padding: 0px;
  line-height: 17px;
  padding: 11px 11px 0px 11px;
}

.log_in {
  font-size: 24px;
  font-family: monospace;
  color: #161717 rit;
  border-radius: 6 p !important;
  margin: 11px auto;
  font-family: inhex;
  width: 90%;
  text-align: left;
  border: 2px solid #d7dede;
  background: #fff;
  padding: 0px 20px !important;
}

.logo {
  display: flow-root;
  margin: 0px auto 46px auto;
  padding: 0px;
}

.logo img {
  width: 248px;
}

.sign_in_btn {
  display: block;
  margin: 4px auto 13px auto;
  padding: 12px;
  line-height: 17px;
  font-size: 24px;
  color: #fff;
  width: 90%;
  border-radius: 6px;
  background: #7c60d5;
}

.sign_in_with_btn {
  display: block;
  margin: 34px auto 30px auto;
  padding: 0px;
  line-height: 13px;
  font-size: 15px;
  padding: 12px 3px;
  width: 71%;
  box-shadow: 0 0 60px 0 rgba(53, 77, 126, 0.26);
  border: 1px solid #f8f9fb;
  background: #fff;
  background: white;
}

.or {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  color: #474242;
  font-size: 15px;
  margin: 12px 11px 0px 0px;
}

.forgot_password {
  display: block;
  margin: 0px;
  padding: 0px;
}

.forgot_password ul {
  display: block;
  margin: 0px;
  padding: 0px;
}

.forgot_password li {
  display: inline-block;
  margin: 10px 10px;
  padding: 0px;
  font-size: 13px;
  font-weight: normal;
  color: #3880ff;
}