<ion-header [translucent]="true">
    <ion-toolbar [color]="'primary'">
        <ion-title>
            Dashboard
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="GET_DATA === false">
        <ion-item *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]">
            <!-- <ion-avatar slot="start">
                 <ion-skeleton-text animated></ion-skeleton-text>
             </ion-avatar>-->
            <ion-label>
                <h3>
                    <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </h3>
                <p>
                    <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-card style="padding: 5px;margin: 10px 5px;border-radius: 8px;"
                  *ngFor="let i of searchList let idx =index" (click)="open_details(i.ID)">
            <ion-item [lines]="'none'">
                <div slot="start" style="margin-left: -10px;">
                    <ion-label style="margin: 5px;white-space: normal;font-size: 16px;font-weight: bold;color: #59A6D0">
                        {{i.DEPARTMENT_NAME}}
                    </ion-label>
                    <p style="padding: 0px;margin: 5px;font-size: 12px;color: gray;font-weight: bold">
                        {{i.SUB_DEPARTMENT_NAME}}
                    </p>
                    <p style="padding: 0px;margin: 5px;font-size: 12px;color: gray;font-weight: bold">{{i.LOCATION}}
                    </p>
                    <p style="padding: 0px;margin: 5px;font-size: 12px;color: gray;font-weight: bold">{{i.USERNAME}}
                    </p>

                    <div style="top: 0px;position: absolute;right: 0px;padding: 5px;" align="end">
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </div>
                    <div style="bottom: 0px;position: absolute;right: 0px;padding: 5px;" align="end">
                        <ion-note style="font-size: 12px;color: #59A6D0;">{{i.DATE}}</ion-note>
                    </div>
                </div>
            </ion-item>
        </ion-card>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content
                loadingSpinner="bubbles"
                loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <!-- fab placed to the bottom end -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/location">
            <ion-icon name="add-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
